<!DOCTYPE html>
<html lang="{{config 'site.language'}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - {{config 'site.title'}}</title>
    <meta name="description" content="{{config 'site.description'}}">
    <meta name="keywords" content="{{config 'site.keywords'}}">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/simp_favicon.png">
    {{#if (config 'theme.custom_css')}}
        <link rel="stylesheet" href="{{config 'theme.custom_css'}}">
    {{/if}}
    {{{config 'inject.head'}}}
</head>
<body>
    {{> header}}
    
    <div class="container">
        <div class="main-content">
            <main>
                {{{body}}}
            </main>
            
            {{> sidebar}}
        </div>
    </div>
    
    {{> footer}}
    
    <script src="/js/main.js"></script>
    {{{config 'inject.footer'}}}
</body>
</html>